---
BasedOnStyle: LLVM
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 100
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
